{
    "env": {
        "es2023": true,
        "node": true,
        "jest": true,
        "commonjs": false
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "module"
    },
    "rules": {}
}
